
<a href="http://192.168.0.64:3000/patterns/03-template-viewport/03-template-viewport.rendered.html" target="_blank">Template01</a>
<div class="viewport-container">
  {{>organism-nav }}
  {{#sectionLoop}}
    {{>organism-section_viewport}}
  {{/sectionLoop}}
</div>
