<ul class="nav">
  <li class="text_nav">COMMENT ÇA MACHE ?</li>
  <li class="text_nav">DEVICES</li>
  <li class="text_nav">DON</li>
  <li class="text_nav">RENDEZ-VOUS</li>
  <li class="text_nav">CONTACT</li>
</ul>
