<p>Text standard</p>
<p class="text_section">Text section</p>
<p class="text_icon">Text label icon</p>
<p class="text_footer">Text footer</p>
<p class="text_footermini">Text footer mini</p>
<p class="text_notification">Text notification</p>
<p class="text_nav">Text Navigation Bar</p>
<p class="text_heading">Text Heading</p>
