p{
  font-size: 18px;
}

.text_section{
  font-size: 22px;
}

.text_icon{
  font-size: 12px;
}

.text_footer{
  font-size: 16px;
  color: white;
}

.text_footermini{
  font-size: 12px;
  font-weight: $font-semi-bold;
  color: white;
}

.text_notification{
  font-size: 12px;
  color: $color-grey;
  font-style: italic;
}
