h1{
  font-size: 48px;
  color: $color-blue;
  font-weight: black;
  text-transform: uppercase;
}

h2{
  font-size: 42px;
  color: $color-blue;
  font-weight: $font-black;
}

.h2-footer{
  font-size: 42px;
  color: $color-white;
  font-weight: $font-black;
}

h3{
  font-size: 24px;
  color: $color-white;
  font-weight: $font-bold;
}

h4{
  font-size: 20px;
  color: $color-white;
  font-weight: $font-black;
  text-transform: uppercase;
}
