<div class="c-block">
  {{#blockH1}}
    <h1>{{txt-block-h1}}</h1>
  {{/blockH1}}
  {{#blockH2}}
    <h2>{{txt-block-h2}}</h2>
  {{/blockH2}}
  <p class="text_section">{{txt-blocktext-h1}}</p>
  {{#blockBtn}}
    {{>atoms-button_active}}
  {{/blockBtn}}
</div>
